= title @blog.title + ' - ' + @user.name
%div{:id => 'note-' + @blog.id.to_s}
  .note-header
    %h3
      = @blog.title
    %div
      %span.pl
        = (@blog.created_at + 8.hour).strftime '%Y年%m月%d日 %H:%M'
  %div{:id => 'note_' + @blog.id.to_s + '_full'}
    %pre.note
      != @blog.content
.pl2
  新一篇
  - if @blog_pre.nil?
    无
  - else
    = link_to @blog_pre.title, @blog_pre
  %br
  旧一篇
  - if @blog_next.nil?
    无
  - else
    = link_to @blog_next.title, @blog_next