<%= form_for(@enjoy) do |f| %>
  <% if @enjoy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enjoy.errors.count, "error") %> prohibited this enjoy from being saved:</h2>

      <ul>
      <% @enjoy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :stype %><br />
    <%= f.number_field :stype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
