<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @enjoy.name %>
</p>

<p>
  <b>Stype:</b>
  <%= @enjoy.stype %>
</p>


<%= link_to 'Edit', edit_enjoy_path(@enjoy) %> |
<%= link_to 'Back', enjoys_path %>
