<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= yield :title %></title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" />
    <%= stylesheet_link_tag "m_head", "m_body", "m_foot", "m_additional", "m_m" %>
    <%= javascript_include_tag "customized" %>
    <%= yield :javascript %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'm/shared/top' %>
    <%= yield %>
    <% unless session[:id].nil? %>
    <%= render 'm/shared/footer_portal' %>
    <% end %>
  </body>
</html>
