<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :metadesc %>" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2.0" />
    <%#= stylesheet_link_tag "m_body" %>
    <%= javascript_include_tag "customized" %>
    <%= yield :javascript %>
    <%= csrf_meta_tags %>
    <style type="text/css">
body,div,p,a,table,textarea,form,input,img,ul,li{ margin:0; padding:0;}
body{font-size:16px;vertical-align:middle;margin:0;padding:0; background:#ffffff;-webkit-text-size-adjust: none;}
form,table,td,h1,ul,ol,li,p{margin:0;padding:0; list-style:none;}
.num{padding:4px 0 4px 4px}
.ctor-info{padding:0 0 8px 4px}
.td-left{padding-left:4px}
.td-leftqx{padding-left:8px}
.postmb{border-top:1px solid #acd456;border-bottom:1px solid #acd456;background:#d6e697;padding:4px}
.guset-topbr{border-top:1px solid #acd456}
.cont-list{border-bottom:1px solid #e3e6eb;padding:8px 0 8px 4px;word-wrap:break-word;}
.cont-lists{border-bottom:1px solid #e3e6eb;padding:6px 0 6px 4px}
.guset-br{border-bottom:1px solid #ECD17E}
.ad{border-bottom:1px solid #acd456; padding:2px 4px; margin-bottom:4px;}
.bg-c{background:#fff}
.sub-bg{background:url(/images/m/btn_bg_s_spring.gif) repeat-x;width:58px;height:21px;border:0;color: #508208;text-align: center; }
textarea{width:98%;margin:4px 0;border: 1px solid #acd456;}
a,a:link,.font-blue{color:#0051a4;text-decoration:none}
.gray,.pl,.font-g{color:#9b9b9b}
.font-green{color:#348713}
.font-red{color:#df550c}
.font-yellow{color:#FF921C;}
.postmb a{color: #477703;}
.txt-bold{ font-weight:bold;}
.txt-fade{  color:#8a8a8a;}
.txt-gray{ color:#8a8a8a;}
.txt-red{ color:#eb4800;}
#notice {color: green;font-size:16px}
#error {color: red;font-size:16px}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 14px;
  }
}
.bom-nav{border-bottom:1px solid #acd456;padding:8px 0 8px 4px;color:#0051a4;}
.red{color: red}
.note_full{white-space:pre-wrap;word-wrap: break-word;}
.writer_reply{color:green}
    </style>
  </head>
  <body>
    <%= render 'm/shared/top' %>
    <%= yield %>
    <% unless session[:id].nil? %>
      <%= render 'm/shared/footer_portal' %>
    <% end %>
  </body>
</html>
