= form_for @user, :html => {:multipart => true} do |f|
  = error_msg @user
  /diandian reg is good
  = t'user_name'
  = f.text_field :username
  = t'user_name_desc'
  %br
  Email
  = f.text_field :email
  = t'can_login'
  %br
  = t'domain'
  = f.text_field :domain
  = t'domain_desc'
  %br
  = t'real_name'
  = f.text_field :name
  = t'name_desc'
  %br
  = t'password'
  = f.password_field :passwd
  .actions
    = f.submit t'_register'