<h1>Listing users</h1>
<table>
  <tr>
    <th>Phote</th>
    <th>Username</th>
    <th>Name</th>
    <th>Domain</th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= image_tag(user.avatar.thumb.url) %></td>
    <td><%= user.username %></td>
    <td><%= user.name %></td>
    <td><%= user.domain %>bbb<%=user.email%></td>
    <td><%= link_to 'Show', site(user) %></td>
  </tr>
<% end %>
</table>

<br />
