<div class="Head">
  <div class="logo selectLogo">
    <i class="png"></i>
  </div>
  <p class="topP rr">
    <% if @user.nil? %>
      原创日记、照片、自传分享。<%= link_to '开源的Ruby博客', "http://github.com/gazeldx/mystory", target: '_blank'%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "本页由管理员编辑", webmaster, title: "每个人都可以编辑我的故事网站哦", target: '_blank'%>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to t('mobile_version'), m(site_url), :title => "手机访问本站时，将自动定位为手机版，不必特意访问http://m.mystory.cc/", :target => '_blank'%>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= weibo_login_image %>
      <%= qq_login_image %>
    <% else %>
      <%= link_to "#{@user.name}主页", site(@user), title: "访问#{@user.name}主页"%>
    <% end %>
  </p>
</div>