.top-nav
  .bd
    .top-nav-info
      /TODO search web here
      - if session[:id].nil?        
        = link_to t('_login'), SITE_URL
        = link_to t('_register'), SITE_URL + register_path
      - else
        = link_to 'LIKE', my_site + like_path
        /= link_to t('plaza'), SITE_URL
        = link_to session[:name], my_site
        = link_to t('manage'), my_site + admin_path, title: t('_admin_title')
    .top-nav-items
      %ul
        %li.on
          = link_to t('my_story'), SITE_URL, title: t('return_root')
        %li