<h1>Listing clients</h1>

<table>
  <tr>
    <th>Loginname</th>
    <th>Name</th>
    <th>Passwd</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.loginname %></td>
    <td><%= client.name %></td>
    <td><%= client.passwd %></td>
    <td><%= client.email %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
