<p id="notice"><%= notice %></p>

<p>
  <b>Loginname:</b>
  <%= @client.loginname %>
</p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Passwd:</b>
  <%= @client.passwd %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
