/TODO ADD zhuanfa
%h3
  = t'my_photo'
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  = t'my_vedio'
%h3= t'my_note'
- @notes.each do |note|
  = link_to note.content, note
  %br
%h3= t'my_blog'
- @blogs.each do |blog|
  = link_to blog.title, blog
  %br