/TODO ADD zhuanfa
/%h3
/  = t'my_photo'
/  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
/  = t'my_vedio'
#note
  %h2
    = t('s_note',w: @user.name)
    = blank_dot
    %span.pl
      &nbsp;(
      = link_to t('all'), notes_path
      )
  .content
    - @notes.each do |note|
      .mbtr2
        .note-header.pl2
          %div
            %span.pl
              = (note.created_at + 8.hour).strftime '%m月%d日 %H:%M'
        .clear
        .note!= show_note(note)
      .clear
    .clear
#note
  %h2
    = t('s_blog',w: @user.name)
    = blank_dot
    %span.pl
      &nbsp;(
      = link_to t('all'), blogs_path
      )
  .content
    - @blogs.each do |blog|
      .mbtr2
        .note-header.pl2
          = link_to blog.title, blog, class: 'll'
          %br
          %div
            %span.pl
              /TODO UPDATE_AT MAYBE BETTER.
              = (blog.created_at + 8.hour).strftime '%m月%d日 %H:%M'
        .clear
        .note= summary(blog.content, 260)
      .clear
    .clear