<h1>Listing follows</h1>

<table>
  <tr>
    <th>Me</th>
    <th>You</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @follows.each do |follow| %>
  <tr>
    <td><%= follow.me %></td>
    <td><%= follow.you %></td>
    <td><%= link_to 'Show', follow %></td>
    <td><%= link_to 'Edit', edit_follow_path(follow) %></td>
    <td><%= link_to 'Destroy', follow, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Follow', new_follow_path %>
