= link_to t('note.add'), new_admin_note_path
%br
%table
  - @notes.each do |note|
    %tr
      %td
        = (note.created_at+8.hour).strftime '%Y-%m-%d %H:%M'
        = note.content
      %td= link_to t(:edit), edit_admin_note_path(note)
      %td= link_to t(:delete), admin_note_path(note), confirm:t('confirm.delete'), method: :delete