<%= form_for(@renjoy) do |f| %>
  <% if @renjoy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@renjoy.errors.count, "error") %> prohibited this renjoy from being saved:</h2>

      <ul>
      <% @renjoy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :enjoy %><br />
    <%= f.text_field :enjoy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
