<h1>Listing renjoys</h1>

<table>
  <tr>
    <th>User</th>
    <th>Enjoy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @renjoys.each do |renjoy| %>
  <tr>
    <td><%= renjoy.user %></td>
    <td><%= renjoy.enjoy %></td>
    <td><%= link_to 'Show', renjoy %></td>
    <td><%= link_to 'Edit', edit_renjoy_path(renjoy) %></td>
    <td><%= link_to 'Destroy', renjoy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Renjoy', new_renjoy_path %>
