<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @renjoy.user %>
</p>

<p>
  <b>Enjoy:</b>
  <%= @renjoy.enjoy %>
</p>


<%= link_to 'Edit', edit_renjoy_path(@renjoy) %> |
<%= link_to 'Back', renjoys_path %>
