%h3
  = t'my_blog'
  >>
  = @category.name
- @blogs.each do |blog|
  = blog.content.size
  = link_to blog.title, blog
  = (blog.created_at + 8.hour).strftime '%m月%d日 %H:%M'
  != blog.content[0,160]
  %br