= t'hello'
,
= session[:name]
%span.right
  = link_to t('home_page'), my_site + like_path
  = link_to t('plaza'), SITE_URL
  = link_to t('logout'), admin_logout_path
%h2
  = navigation_link(t('home_page'), admin_path)
  = navigation_link(t('_note'), admin_notes_path)
  = navigation_link(t('_blog'), admin_blogs_path)
  = navigation_link(t('_category'), admin_categories_path)
  = navigation_link(t('account_settings'), admin_profile_path)
- if flash[:notice]
  #notice= flash[:notice]
- if flash[:error]
  #error= flash[:error]