<!DOCTYPE html>
<html class="ua-ff4" lang="zh-CN">
  <head>
    <title><%= yield :title %></title>
    <%#*<link href="/assets/stylesheets/style.css" rel="stylesheet" type="text/css"/>%>
    <%#*<link href="/assets/stylesheets/form.css" rel="stylesheet" type="text/css"/>%>
<%#*TODO special css not all include%>
    <%#*<link href="/assets/stylesheets/create_note.css" rel="stylesheet" type="text/css"/>%>
    <%#*<link href="/assets/stylesheets/dialog.css" rel="stylesheet" type="text/css"/>%>
    <%= stylesheet_link_tag "style", "form" %>
    <%#= stylesheet_link_tag "application"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <% if @user.customize %>
      <style>
        body {
          background: url("<%= @user.customize.bgimage.url %>") repeat fixed right top;
        }
      </style>
    <% end %>
<%# if controller_path == 'blogs' && controller.action_name='show' %>
<%# if !@blog.nil? && @blog.id == 2 %>
<%#*<BGSOUND SRC="/uploads/music/wedding.mp3">%>
<%# end %>
<%# end %>
  </head>
  <body>
    <%= render 'shared/top' %>
    <div id='wrapper'>
      <div id='content' <% if @user.customize %>style="background: none repeat scroll 0 0 #FFFFFF;"<% end %>>
        <div class='grid-16-8 clearfix'>
          <div class='article'>
            <div id='db-usr-profile'>
              <%= render 'shared/head_user' %>
            </div>
            <div class="clear"></div>
            <br/>
            <%= yield %>
          </div>
          <div class='aside'>
            <%= render 'shared/side_user' %>
          </div>
          <div class="extra"> </div>
        </div>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>