<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
<%= render 'shared/top' %>
<div class='span-15 prepend-1 colborder'>
  <%= render 'shared/head_user' %>
  <%= yield %>
</div>
<%= render 'shared/side_user' %>
</div>
</body>
</html>