<!DOCTYPE html>
<html class="ua-ff4" lang="zh-CN">
  <head>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :metadesc %>" />
    <%= stylesheet_link_tag "user" %>
    <%= javascript_include_tag "user_home" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/top' %>
    <div id='wrapper'>
      <div id='content'>
        <div class='grid-24-0 clearfix'>
          <div class='article'>
            <div id='db-usr-profile' style="height:30px!important;">
              <%= render 'shared/group/head' %>
            </div>
            <div class="clear"></div>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render 'shared/footer_help' %>
    </div>
  </body>
</html>