<!DOCTYPE html>
<html class="ua-ff4" lang="zh-CN">
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag "user" %>
    <%= yield :stylesheet %>
    <%= javascript_include_tag "user_blog" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/top' %>
    <div id='wrapper'>
      <div id='content'>
        <div class='grid-20-4 clearfix'>
          <div class='article'>
            <%= yield %>
          </div>
          <div class='aside'>
            <%= render 'shared/side_letter' %>
          </div>
        </div>
      </div>
      <%= render 'shared/footer_no_stat' %>
    </div>
  </body>
</html>