<!DOCTYPE html>
<html class="ua-ff4" lang="zh-CN">
  <head>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :metadesc %>" />
    <%= stylesheet_link_tag "new" %>
    <%= javascript_include_tag "new" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/top' %>
    <div id='wrapper'>
      <div id='content'>
        <div class='grid-24-0 clearfix'>
          <div class='article'>
            <div id='db-usr-profile'>
              <%= render 'shared/head_user' %>
            </div>
            <div class="clear"></div>
            <br/>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render 'shared/footer_no_stat' %>
    </div>
    <%= yield :select_photos %>
  </body>
</html>