<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-CN">
  <head>
    <meta name="description" content="<%= yield :metadesc %>" />
    <%#*<meta http-equiv="Content-Type" content="text/html; charset=gb18030">%>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="imagetoolbar" content="no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "hu_base", "hu_portal" %>
    <%= javascript_include_tag "photos" %>
    <%= favicon_link_tag '/assets/favicon.ico'%>
    <%#*<script type="text/javascript">%>
      <%#*window.CRTWCONFIG = window.CRTWCONFIG || {};%>
      <%#*window.CRTWCONFIG.MODELWINDOW_OVERLAY_COLOR = "#000000";%>
      <%#*window.CRTWCONFIG.MODELWINDOW_OVERLAY_OPACITY = "0.5";%>



      <%#*window.CRTWCONFIG.GLOBAL_UNLOGIN_BEHAVIOR = "modal_login";%>



      <%#*(function() {%>
        <%#*//  加载kola%>
        <%#*var    script = document.createElement('script');%>
        <%#*script.src = 'http://s5.cr.itc.cn/j/p/shwbexp2/kola/Package_a0afcfbca3.js';%>
        <%#*//script.src = 'http://10.1.105.96/j-src/kola/Package.js';%>

        <%#*script.type = 'text/javascript';%>
        <%#*script.charset ='GBK';%>
        <%#*document.getElementsByTagName('head')[0].appendChild(script);%>
        <%#*script = null;%>

        <%#*//  声明一个kola替代变量%>
        <%#*window.kola = function() {%>
          <%#*var arr = [this];%>
          <%#*for (var i = 0, il = arguments.length; i < il; i++) {%>
            <%#*arr.push(arguments[i]);%>
          <%#*}%>
          <%#*kola._cache.push(arr);%>
        <%#*};%>
        <%#*kola._cache = [];%>
      <%#*})();%>

      <%#*kola("kola.bom.Cookie", function (Cookie) {%>
        <%#*var lastViewDate= Cookie.get("gd_last_viewdate");%>
        <%#*if(lastViewDate)%>
        <%#*{%>
          <%#*var lastViewDateSplited = lastViewDate.split(" ");%>
          <%#*var curDateSplited = ( new Date() + "" ).split(" ");%>
          <%#*for(var i = 0, l = 4; i < l; ++ i)%>
          <%#*{%>
            <%#*if(curDateSplited[i] != lastViewDateSplited[i])%>
            <%#*{%>
              <%#*Cookie.set("gd_viewdate_done", true, "never");%>
              <%#*if(Cookie.get("gd_trigge_viewmore") == "true")%>
              <%#*{%>
                <%#*Cookie.set("discoverPU", "y", "never");%>
              <%#*}%>
              <%#*Cookie.remove("gd_last_viewdate");%>
              <%#*break;%>
            <%#*}%>
          <%#*}%>
        <%#*}%>
        <%#*else%>
        <%#*{%>
          <%#*Cookie.set("gd_last_viewdate", new Date(), "never");%>
        <%#*}%>
      <%#*});%>


      <%#*window.CRTWCONFIG = window.CRTWCONFIG || {};%>
      <%#*window.CRTWCONFIG.GUB_EXP_TWITTER_OPS = "getNameCard";%>

      <%#*window.UID="671867151";%>
      <%#*window.isLogin = true;%>
      <%#*//window.authblock = ;%>
      <%#*window.UID_M_ICON = "http://s4.cr.itc.cn/i/3/avt48f.png";%>
      <%#*window.UID_S_ICON = "http://s4.cr.itc.cn/i/3/avt24f.png";%>
      <%#*window.FROM_TYPE= "1284122";%>
      <%#*//window.isVipisVip = ;%>
      <%#*//showMore拦截%>
      <%#*window.showMoreIntercept = true;%>

      <%#*window.S_UID = "671867151";%>


      <%#*window.CAN_UPLOAD_PIC_WHEN_REPLY = true;%>
      <%#*window.CAN_UPLOAD_PIC_WHEN_TRANSF = true;%>

      <%#*kola('newt.timeline.Plus2', function(Plus2){%>
        <%#*Plus2.init();%>

      <%#*});%>
      <%#*kola('app.widget.FollowUserDelegate', function(F) {%>
        <%#*F.init();%>
      <%#*});%>




    <%#*</script>%>
    <title><%= yield :title %></title>
    <%#*<link rel="stylesheet" type="text/css" href="http://s4.cr.itc.cn/c/t2_1/2nd/select_03a2becb09.css">%>

  </head>
  <body>
    <%= render 'shared/download_browser' %>
    <%#= yield %>
    <%= render 'shared/portal_top' %>

    <div class="LAND" id="t-sys">
      <div class="land">
        <div class="Bgs"><p class="Bg1"></p><p class="Bg2"></p><p class="Bg3"></p></div>
        <div class="LANDBG">
          <%= render 'shared/portal_head' %>
          <div class="Bdy">
            <%= render 'shared/portal_body' %>
            <%= render 'shared/portal_aside' %>
          </div>
          <%= render 'shared/portal_footer' %>
        </div>
      </div>
    </div>
    <%#*<script type='text/javascript'>%>
      <%#*kola("newt.util.helper.Position, jquery.Core", function (Position, $) {%>
        <%#*var triggerCount = 0;%>
        <%#*Position.ViewPort.enter($("#showMoreBtn"), function (btn) {%>
          <%#*kola('app.exp.sohuhome.Logic', function (Logic) {%>
            <%#*Logic.showMore({liveId: 2702, count: 15});%>
          <%#*});%>
        <%#*});%>
      <%#*});%>
      <%#*kola('newt.left.Init', function(Init){Init.initPubFunc()});%>
      <%#*kola('newt.timeline.Container', function(C) {%>
        <%#*new C();%>
      <%#*});%>
      <%#*kola('jquery.Core, newt.imgloader.ImgLoader',function($){%>
        <%#*$(function () {%>
          <%#*$("body").each(function () {%>
            <%#*tw.imgloader.scan($(this));%>
          <%#*});%>
        <%#*})%>
      <%#*});%>

      <%#*kola("newt.settings.Theme", function(Theme) {%>
        <%#*Theme.initPage();%>
      <%#*});%>

      <%#*kola("newt.lib.jqueryScrollTo,jquery.Core", function (scrollTo, $) {%>
        <%#*var queryString = location.search;%>
        <%#*if (queryString) {%>
          <%#*queryString = queryString.substr(1).split("&");%>
          <%#*for (var i = 0; i < queryString.length; ++i) {%>
            <%#*var kv = queryString[i].split("=");%>
            <%#*if (kv[0] == "_view") {%>
              <%#*if ($.browser.msie && ( $.browser.version == "6.0"))%>
                <%#*$("#t-sys").scrollTo($("#_view_" + kv[1]).position().top);%>
              <%#*else {%>
                <%#*$(document.body).scrollTo($("#_view_" + kv[1]).position().top);%>
              <%#*}%>
            <%#*}%>
          <%#*}%>
        <%#*}%>
      <%#*});%>

      <%#*kola("jquery.Core", function ($) {%>
        <%#*if(window.isLogin == false)%>
        <%#*{%>
          <%#*/*$("[data-content], div.twiB a, i.pVer, div.Usr a, div.ep_remo p.pics a, div.ep_remo p.ugc a").closest("a").bind("mousedown", function (event) {%>
                                    <%#*$(this).removeAttr("href");%>
                                    <%#*kola('newt.ca.ca', function (CA) {%>
                                            <%#*CA.q('newt_timeline_twi');%>
                                    <%#*});%>
                                    <%#*kola("newt.util.Tool", function (Tool) {%>
                                            <%#*Tool.iNoLogin();%>
                                    <%#*});%>
                                    <%#*event.stopPropagation();%>
                                    <%#*return false;%>
                            <%#*});*/%>
        <%#*}%>
        <%#*$(function () {%>
          <%#*setTimeout(function () {%>
            <%#*var doc = $(window);%>
            <%#*var clearBottomScrollTip = function () {%>
              <%#*$("#bottom_scrolltip").fadeOut("slow");%>
              <%#*if($.browser.msie && ( $.browser.version == "6.0"))%>
              <%#*{%>
                <%#*$("#t-sys").unbind("scroll click", clearBottomScrollTip);%>
              <%#*}%>
              <%#*else%>
              <%#*{%>
                <%#*doc.unbind("scroll click", clearBottomScrollTip);%>
              <%#*}%>
            <%#*};%>
            <%#*if($.browser.msie && ( $.browser.version == "6.0"))%>
            <%#*{%>
              <%#*$("#t-sys").bind("scroll click", clearBottomScrollTip);%>
            <%#*}%>
            <%#*else%>
            <%#*{%>
              <%#*doc.bind("scroll click", clearBottomScrollTip);%>
            <%#*}%>
          <%#*}, 1000);%>
        <%#*});%>
      <%#*});%>
      <%#*kola("jquery.Core, newt.util.helper.AutoFix", function ($, AutoFix) {%>
        <%#*$(function () {%>
          <%#*new AutoFix({%>
            <%#*target: $("div.js-auto-fixed"),%>
            <%#*doFix: function (target, con) {%>
              <%#*$("#tagCon").append(target).addClass("TAB");%>
            <%#*},%>

            <%#*doRestore: function (target, con) {%>
              <%#*con.append(target);%>
              <%#*$("#tagCon").removeClass("TAB");%>
            <%#*}%>

          <%#*});%>
        <%#*});%>
      <%#*});%>
      <%#*//uc%>
      <%#*kola("sohu.cc.Cc", function(CC) {%>
        <%#*var twcc = new CC({%>
          <%#*imgName : "uc.gif"%>
        <%#*});%>
        <%#*$("#timeline").mousedown(function(event) {%>
          <%#*var target = $(event.target), twi = target.closest("div.twiRoot");%>
          <%#*if(twi.length == 0) {%>
            <%#*twi = target.closest("div.twi");%>
          <%#*}%>
          <%#*if(twi.length > 0) {%>
            <%#*twcc.q({%>
              <%#*from : "newt_timeline_twi",%>
              <%#*msgid : twi.attr("id"),%>
              <%#*uid: window.UID ? window.UID : ""%>
            <%#*});%>
          <%#*}%>
        <%#*});%>
      <%#*});%>
      <%#*kola("app.exp.sohuhome.level2.CometV3", function (Comet) {Comet.init({%>
          <%#*groupdId: 2702%>
        <%#*});});%>
      <%#*kola("jquery.Core", function ($) {%>
        <%#*$("#gotoTop a:first").bind("click", function () {%>
          <%#*$("#noticeTip").trigger("click");%>
        <%#*});%>
      <%#*});%>
      <%#*kola('app.exp.task.Task', function(T) {%>
        <%#*T.init({%>
          <%#*useNewCometInterface: true,%>
          <%#*ref: 'jingxuan'%>
        <%#*});%>
      <%#*});%>

      <%#*kola("newt.cr.crEvent", function (CrEvent) {%>
        <%#*CrEvent.bind("tw_add_twi tw_add_rp", function (event) {%>
          <%#*var op= ( event.type == "tw_add_twi" ? "reply" : "comment" );%>
          <%#*kola("app.exp.sohuhome.service.SohuHomeWBExp", function (SohuHomeWBExp) {%>
            <%#*SohuHomeWBExp.sendGuideMail({%>
              <%#*params: {%>
                <%#*op: op%>
              <%#*}%>
            <%#*});%>
          <%#*});%>
        <%#*});%>
      <%#*});%>


    <%#*</script>%>
  </body>

</html>