<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-CN">
  <head>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :metadesc %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="imagetoolbar" content="no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "portal" %>
    <%= javascript_include_tag "portal" %>
    <%= favicon_link_tag '/assets/favicon.ico'%>
  </head>
  <body>
    <% portal_user %>
    <%= render 'shared/download_browser' %>
    <%= render 'shared/portal_top' %>
    <div class="LAND" id="t-sys">
      <div class="land">
        <div class="Bgs"><p class="Bg1"></p><p class="Bg2"></p><p class="Bg3"></p></div>
        <div class="LANDBG">
          <%= render 'shared/portal_head' %>
          <div class="Bdy">
            <div class="Main">
              <div class="main">
                <div class="mainT"></div>
                <div class="mainC">
                  <% case controller.action_name %>
                  <% when 'index' %>
                    <%= render 'shared/portal_body' %>
                  <% when 'hotest' %>
                    <%= render 'shared/portal_hotest' %>
                  <% when 'latest' %>
                    <%= render 'shared/portal_latest' %>
                  <% when 'show' %>
                    <%= render 'shared/portal_column' %>
                  <% when 'portal' %>
                    <%= render 'shared/portal_biographies' %>
                  <% end %>
                </div>
              </div>
            </div>
            <%= render 'shared/portal/aside' %>
          </div>
          <%= render 'shared/portal/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>