<!DOCTYPE html>
<html class="ua-ff4" lang="zh-CN">
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag "style", "form" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <div>
        <div>
          <div>
            <%= yield :subtitle %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>